name=SampleSinkConnector
connector.class=com.kafkaconnect.sink.connector.SampleSinkConnector
connection.url=<DB_Connection_URL>
connection.user=<DB User>
connection.password=<DB Password>
incrementing_column_name=id
